{
    "resources/js/**/*.{js,vue}": "./node_modules/.bin/eslint --ext=.js,.vue --cache",
    "src/**/*.php": [
        "php ./vendor/bin/phpcs --colors --style=./phpcs.xml",
        "php ./vendor/bin/phpstan analyze"
    ]
}
